body{background-color: antiquewhite;}
header{background-color: bisque;}
.logo{background-color: burlywood;}
nav{background-color: chocolate;}
main{background-color: blanchedalmond;}
section{background-color: lightgoldenrodyellow;}
footer{background-color: coral;}

