body{
    background-image:url(img/fundoback.jpg);
    margin-left: 0px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;     

}
header{
    
    background-image: url(img/fundoback.jpg)	;
    padding: 3%;
    
}
.logo{
    background-image: url(img/fundoback.jpg);
    margin-left: auto; margin-right: auto;
}
nav{
    background-image: url(img/fundoback.jpg);
    color: black;
}
main{
    background-image: url(img/fundoback.jpg);
width: 80%;
margin-left: auto;
margin-right: auto;
}
section{
    background-image: url(img/fundoback.jpg);
}
footer{
    background-image: url(img/fundoback.jpg);
padding: 3%;
}
.cabecalho{
padding: 0%;
background-image: url(img/fundoback.jpg);
}
.rodape{
 padding: 3%;
}
h1{
    font-size: 300%;
    padding-bottom: 3%;
}
h2{
    background-image: url(img/fundoback.jpg);
    padding-bottom: 3%;
    font-size: 200%;
    color: lightgray;
    
    
}
.img{
    background-color: black;
    display: block;margin-left: 2%;margin-right: auto;
    width: 30%;
    height: auto;
    margin-left: auto;margin-right: auto;

}
.titulo {
       
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: gainsboro;
   

    
}
p{
    
    color: gainsboro;
    font-size: 120%;
}
pre{
    
    color: gainsboro;
    margin-left: 0%;
}

ul{
   
    color: gainsboro;
}
.eps{
   
    background-image: url(img/fundoback.jpg);
    color: lightgray;
    font-size: 400%;
}
table{
    border-collapse: collapse;
    color: gainsboro;
    
    
}
table, th, td {
    border: 1px solid;
    font-size: 130%;
  } 
.temporada{
    font-size: 300%;
}
#menu{
    text-align: center;
    
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%; 
}
#menu a{
    text-decoration: none;
    color: gainsboro;
    
}
#menu li{
    
    padding: 8px;
}
.stt1{
    margin-left: 0%;
}
.stt2{
    margin-left: 0%;
}
.stt3{
    margin-left: 0%;
}
.oqe{
    size: 90%;
    margin-left: 0%;
}
html{
    scroll-behavior: smooth;
}
.rodape{
    background-color: black; 
    
}